<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Basic Fixed Layout</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
		
		<!--[if lt IE 7]>
			<style type="text/css">
				#wrapper { height:100%; }
			</style>
		<![endif]-->
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div class="container">
					<h1>ssmith1975.com</h1>
				</div>
			</div>
			<div id="content">
				
				<!-- <div class="container clearfix"> -->
					<div id="main-container">
						<div id="main-col">
							<h2>Sub-header</h2>
							<p><strong>Content:</strong> Sed placerat accumsan ligula. Aliquam felis magna, congue quis, tempus eu, aliquam vitae, ante. Cras neque justo, ultrices at, rhoncus a, facilisis eget, nisl. Quisque vitae pede. Nam et augue.</p>
							<p> Sed a elit. Ut vel massa. Suspendisse nibh pede, ultrices vitae, ultrices nec, mollis non, nibh. In sit amet pede quis leo vulputate hendrerit. Cras laoreet leo et justo auctor condimentum. Integer id enim. Suspendisse egestas, dui ac egestas mollis, libero orci hendrerit lacus, et malesuada lorem neque ac libero. Morbi tempor pulvinar pede. Donec vel elit.</p>
						</div>	
					</div>				
					<div id="sidebar">
						<div id="sidebar-ribbon">
							<img src="images/ribbon-left-blue.png" height="50" width="50" />
						</div>						
						<h3>SideBar</h3>

						<ul class="menu">
							<li><a href="#">Item 1</a></li>
							<li><a href="#">Item 2</a></li>
							<li><a href="#">Item 3</a></li>		
						</ul>
					</div>

					
			</div>
				
		</div>

		<div id="footer">
			<div class="container">
			Footer Stuff
			</div>
		</div>			
	</body>
</html>
