<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  class="darkGrad">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Fixed Layout</title>
		<link type="text/css" rel="stylesheet" href="css/main.css" />		
		<link type="text/css" rel="stylesheet" href="css/layout.css" />		
		<link type="text/css" rel="stylesheet" href="css/candy.css" />

		<style type="text/css">

		</style>
	</head>
	<body class="center shadow-innerThickDarkShadow">
		<div id="container">
			<div id="header" class="greenGrad">
				<div id="head-container">
					<div id="logo"><a href="index.html" title="HMTL Layout">&nbsp;</a></div>
					<div id="search">
						<form id="search-form"  action="" method="post">
							<input id="search-input-text" type="search" name="query" placeholder="Search" />
		    				<input id="search-input-submit" type="submit" value="" />
						</form>
					</div>	
				</div>
			</div>
			<div class="nav darkGrad shadow-outerBlueish clearfix">
				<ul class="horizontalMenu center clearfix">
					<li><a  class="nav-sprite blue-35"href="#" title="About Us">About</a></li>
					<li><a class="nav-sprite blue-31" href="#" title="Services">Services</a></li>
					<li><a class="nav-sprite blue-06" href="#" title="Events">Events</a></li>
					<li><a class="nav-sprite blue-17" href="#" title="Contact Us">Contact</a></li>
					<li><a class="nav-sprite blue-12" href="#" title="Reviews">Reviews</a></li>
				</ul>
				
			</div>		
			<div id="wrapper" class="grid-container-960">
		
				<div class="grid-3-16 first-col">
					<div id="leftMenu" class="silverGradReverse">
						<h3 class="darkGrad">Topics</h3>
						<ul>
							<li class="silverGrad"><a href="#">Home</a></li>
							<li class="silverGrad"><a href="fixed-layout.html">Fixed Layout</a></li>
							<li class="silverGrad"><a href="fluid-layout.html">Fluid Layout</a></li>
							<li class="silverGrad"><a href="responsive-layout.html">Responsive Layout</a>
							<!-- <li class="silverGrad"><a href="#">Item 4</a></li>-->
						</ul>
					</div>
				</div>
				
				<div class="grid-9-16 divider shadow-innerThinLight">
					<div id="mainContent">
						<h1>Fixed Layout</h1>
						<div class="graphicGroup floatLeft">
							<div class="graphic border-white5 shadow-outerImage">
								<img class="" src="images/freeform-i_460.jpg" width="300px" alt="artwork" title="Artwork" />
							</div>
							<div class="caption">Some caption goes here...</div>
						</div>	       
						<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#" title="Donec non enim">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. 
							Mauris placerat eleifend leo.</p>
						<h2>Header Level 2</h2>
						<p>Ordered list example...</p>	       
						<ol>
						   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						   <li>Aliquam tincidunt mauris eu risus.</li>
						</ol>
						
						<p>Block quote example...</p>
						<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. 
							Vivamus pretium ornare est.</blockquote>
						
						<h3>Header Level 3</h3>
						<p>Unordered list example</p>
						<ul>
						   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						   <li>Aliquam tincidunt mauris eu risus.</li>
						</ul>
						
						<pre><code>
	#header h1 a { 
		display: block; 
		width: 300px; 
		height: 80px; 
	}
						</code></pre>
					</div>
						
				</div>
					
					
					<div class="grid-4-16 divider last-col clearfix">
						<div class="aside silverGradReverse">
							<h3 class="greenGrad">Related Content</h3>
							<div class="asideContent">
								<div class="graphicGroup">
									<div class="graphic border-white5"><img src="images/afterburner-ii_220x132.jpg"  alt="sample image 1" /></div>
									<div class="caption">A beautiful photo would go here...</div>
								</div>
								<p>	Blab blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah...</p>
							
								<div class="graphicGroup">
									<div class="graphic border-white5"><img src="images/mandarin-i_220.jpg"  alt="sample image 1" /></div>
									<div class="caption">A beautiful photo would go here...</div>
								</div>
								<p>	Blab blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah...</p>
	
							</div>
							
						</div>
					</div>
					<div class="clearfix"></div>
									
			</div>
			<div id="footer" class="greenGradReverse">
				<div id="footerNav">
					<ul class="horizontalMenu center clearfix">
						<li><a  class=""href="#" title="About Us">About</a></li>
						<li><a class="" href="#" title="Services">Services</a></li>
						<li><a class="" href="#" title="Events">Events</a></li>
						<li><a class="" href="#" title="Contact Us">Contact</a></li>
						<li><a class="" href="#" title="Reviews">Reviews</a></li>
					</ul>
				</div>
				<div id="copyright">
					Copyright © 2012, <a href="http://www.ssmith1975.com">www.ssmith1975.com</a> - All rights reserved.
				</div>				
			</div>
		</div>
	</body>
</html>

