<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  class="darkGrad">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Layout</title>
		<link type="text/css" rel="stylesheet" href="css/main.css" />	
		<link type="text/css" rel="stylesheet" href="css/layout.css" />		
		<link type="text/css" rel="stylesheet" href="css/candy.css" />
		<style type="text/css">
			
		</style>
	</head>
	<body class="center shadow-innerThickDarkShadow">
		<div id="container">
			<div id="header" class="greenGrad">
				<!---->
				<div id="head-container">
					<div id="logo"><a href="index.html" title="HMTL Layout">&nbsp;</a></div>
					<div id="search">
						<form id="search-form"  action="" method="post">
							<input id="search-input-text" type="search" name="query" placeholder="Search" />
		    				<input id="search-input-submit" type="submit" value="" />
						</form>
					</div>	
				</div>
			</div>
			<div class="nav darkGrad shadow-outerBlueish clearfix">
				<ul class="horizontalMenu center clearfix">
					<li><a  class="nav-sprite blue-35"href="#" title="About Us">About</a></li>
					<li><a class="nav-sprite blue-31" href="#" title="Services">Services</a></li>
					<li><a class="nav-sprite blue-06" href="#" title="Events">Events</a></li>
					<li><a class="nav-sprite blue-17" href="#" title="Contact Us">Contact</a></li>
					<li><a class="nav-sprite blue-12" href="#" title="Reviews">Reviews</a></li>
				</ul>
				
			</div>		
			<div id="wrapper" class="grid-container-960">
	
					<div id="subjects" class="clearfix">
						
						
						<div class="grid-12-12 vertical-gutter-5">
						    <div class="border-white5  vertical-gutter">
						    	<div id="banner" class="block-420 border-white5">
						    		<h1>HTML Samples</h1>
						    		<h2>Keeping up with the speed of technology.</h2>
						    	</div>	
						   </div>
							<div class="grid-4-12 first-col collapse-gutter alpha clearLeft">
								<div class="border-white5">
									<div id="carnival-mask" class="block-200 border-white5"></div>
								</div>
							</div>
							<div class="grid-4-12 collapse-gutter">
								<div class="border-white5">
									<div id="red-queen" class="block-200"></div>
								</div>
							</div>	
							<div class="grid-4-12 collapse-gutter last-col omega clearfix">
								<div class="border-white5">
									<div id="mannequin" class="block-200"></div>
								</div>
							</div>	
						</div>	
						
						<div class="grid-12-12  vertical-gutter-5">
							<div class="grid-4-12 first-col alpha clearLeft">
								<div class="border-white5">
									<div class="block-200 silverGrad">
										<h3><a href="fixed-layout.html" title="Fixed Layout">Fixed Layout</a></h3>
										<p>Fixed-Width layout demonstration using a 960 grid system.</p></div>
								</div>
							</div>
							<div class="grid-4-12">
								<div class="border-white5">
									<div class="block-200 silverGrad">
										<h3><a href="fluid-layout.html" title="Fluid Layout">Fluid Layout</a></h3>
										<p>Flexibility is the key</p></div>
								</div>
							</div>	
							<div class="grid-4-12 last-col omega clearfix">
								<div class="border-white5">
									<div class="block-200 silverGrad">
										<h3><a href="responsive-layout.html" title="Responsive Layout">Responsive Layout</a></h3>
										<p>Layout out of the future. Adapts to screen sizes of mobile devices as well.</p></div>
								</div>
							</div>	
						</div>
					</div>	
			</div>
	
			<div id="footer" class="greenGradReverse">
				<div id="footerNav">
					<ul class="horizontalMenu center clearfix">
						<li><a  class=""href="#" title="About Us">About</a></li>
						<li><a class="" href="#" title="Services">Services</a></li>
						<li><a class="" href="#" title="Events">Events</a></li>
						<li><a class="" href="#" title="Contact Us">Contact</a></li>
						<li><a class="" href="#" title="Reviews">Reviews</a></li>
					</ul>
				</div>
				<div id="copyright">
					Copyright © 2012, <a href="http://www.ssmith1975.com">www.ssmith1975.com</a> - All rights reserved.
				</div>				
			</div>
		</div>
	</body>
</html>		