<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<title>Basic Layout: Single Column</title>
		<link rel="stylesheet" type="text/css" href="_css/styles.css" />
		<link rel="stylesheet" type="text/css" href="_css/sticky_footer.css" />
		<link rel="stylesheet" type="text/css" href="_css/styles_fixed.css" />
		<style type="text/css">

		</style>
		<!--[if !IE 7]>
		<style type="text/css">
				/*#wrap {display:table;height:100%}*/
			</style>
		<![endif]-->
	</head>

	<body>
	 	<!-- Wrapper -->
	    <div id="wrapper">
	    	<!-- Header -->	
	    	<div id="header" class="clear">
				<div class="container">
					<h1>Basic Layout: Single Column</h1>
	    		</div> 
	    	</div>	
	    	<!-- Content -->    
	        <div id="content">
	        	<div class="container">
		    		<div id="top-nav" class="clearfix">
		    			<ul class="horizontal-menu">
		    				<li><a href="#">Layouts</a></li>	    				
		    				<li><a href="fixed.html">Fixed Layout</a></li>	    				
		    				<li><a href="fluid.html">Fluid Layout</a></li>	    				
		    				<li><a href="responsive.html">Responsive Layout</a></li>	    				
		    			</ul>
		    		</div>
		    		<div class="clear"></div>	        		
	        		
	        		<div class="container-inner clearfix">
		        		<div id="main">
		        			<div class="content-inner">
		        				
									<h2>Main Column</h2>
									<p><strong>Content:</strong> Sed placerat accumsan ligula. Aliquam felis magna, congue quis, tempus eu, aliquam vitae, ante. Cras neque justo, ultrices at, rhoncus a, facilisis eget, nisl. Quisque vitae pede. Nam et augue.</p>
									<p> Sed a elit. Ut vel massa. Suspendisse nibh pede, ultrices vitae, ultrices nec, mollis non, nibh. In sit amet pede quis leo vulputate hendrerit. Cras laoreet leo et justo auctor condimentum. Integer id enim. Suspendisse egestas, dui ac egestas mollis, libero orci hendrerit lacus, et malesuada lorem neque ac libero. Morbi tempor pulvinar pede. Donec vel elit.</p>					
							</div>
	        			</div>
	        			<div class="table-gutter"></div>
		        		<div id="sidebar">
		        			
		        			<div class="content-inner">
		        				<h2>Side bar</h2>
		        				<div class="block">	
		        					<h3>Block 1</h3>
		        					<p>Conventio augue gilvus wisi ea usitas velit. Fatua, ullamcorper neque appellatio nullus ad eu tation ex commoveo, diam iusto nutus melior. Blandit quod luptatum ut duis natu tincidunt exerci wisi lucidus consequat.</p>
		        				</div>	
		        				
		        				<div class="block">	
		        					<h3>Block 2</h3>
		        					<p>Conventio augue gilvus wisi ea usitas velit. Fatua, ullamcorper neque appellatio nullus ad eu tation ex commoveo, diam iusto nutus melior. Blandit quod luptatum ut duis natu tincidunt exerci wisi lucidus consequat.</p>
		        				</div>		
		        			</div>	        			
		        		</div>		        		
	        		</div>
	        		
	        	</div>		
	        </div>	 
	        
	        <!-- <div class="push"></div>-->
         
	    </div>
	    
	    <!-- Footer -->
    	<div id="footer">
    		<div class="container">And this is my footer</div>
		</div>
		
	</body>
</html>
